<!-- header-inicio.component.html -->

<header style="background-color: #f2f2f2; padding: 10px; display: flex; align-items: center; justify-content: space-between;">
  <div>
    <img src="assets/logo.png" alt="Logo" style="height: 50px;">
  </div>
  <div>
    <button *ngIf="!isLogged" style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px;" (click)="openModal()">Iniciar sesión</button>
    <button *ngIf="isLogged" style="padding: 10px 20px; background-color: #dc3545; color: #fff; border: none; border-radius: 5px;" (click)="logout()">Cerrar sesión</button>
  </div>
</header>

<!-- Añadir el componente modal aquí -->
<app-modal-login></app-modal-login>



